.banner {
  background: url(../../assets/media/uttarakhand-tour-packages-banner.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.banner2 {
  background: url(../../assets/media/uttarakhand-tour-banner2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.banner-char-dham {
  background: url(../../assets/media/char-dham-yatra-banner.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 600px;
}

.banner-content {
  padding-top: 80px;
  padding-bottom: 30px;
  color: #fff;
}
.overlay {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 600px;
}
.banner-content-h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.banner-content-h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 1.2;
  margin: 20px 0;
}
.banner-content-p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  width: 75%;
}
/* Default for larger screens (desktop) */
.container-r {
  width: 1240px;
  margin: 0 auto; 
  padding: 0 20px; 
}


@media (max-width: 1024px) {
  .container-r {
    width: 90%; 
    max-width: 100%; 
  }
}

@media (max-width: 464px) {
  .container-r {
    width: 100%; 
    padding: 0 10px; 
  }
}
/* ================== */
.card-container {
  position: absolute;
}
.carousel-slider {
  display: flex;
  align-items: center;
}
.package-item {
width: 310px;
}
.react-multi-carousel-dot-list{
  bottom: -8% !important;
}