.section-8 {
  padding: 60px 0;
  background-color: #000;
  text-align: center;
  color: #fff;
}
.testimonial {
  padding: 40px 0;
}
.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px) !important;
}

.react-multiple-carousel__arrow {
  background-color: transparent !important;
}
